Additional python libraries needed not yet included in standard distribution 

pip install pyaudio

pip install scipy

Python Speech Features
https://github.com/jameslyons/python_speech_features

Libsvm Python Interface
http://www.lfd.uci.edu/~gohlke/pythonlibs/#libsvm



pyaudio
tkintertable
wave
scipy
Python Speech Features -https://github.com/jameslyons/python_speech_features
Libsvm Python Interface - http://www.lfd.uci.edu/~gohlke/pythonlibs/#libsvm




